.navbar {
    height: 60px;
    /* margin-bottom: 20px; */
    background-color: white;
    opacity: 90%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .45);
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbarExtra{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fixed-bottom, .fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}